<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pokemon-Card-Collection</title>
</head>
<body>
<h1>Witaj trenerze! Co chcesz zrobić?</h1>
<h2>Status logowania: <label th:text="${status.mail}"></label> </h2>
<div><a th:if="${!status.logged}" href="/register"> Zarejestruj się</a> </div>
<div><a th:if="${status.logged}" href="/trainer"> Stwórz trenera</a></div>
<div><a th:if="${status.logged}" href="/pack"> Otwórz paczkę</a> </div>
<div><a th:if="${status.logged}" href="/gallery"> Twoje karty</a></div>
<div><a th:if="${status.logged}" href="/auctions"> Aukcje</a> </div>
<div><a th:if="${status.logged}" href="/coins"> Kup monety</a> </div>
<div><a th:if="${status.logged}" href="/profile"> Profil</a> </div>
<div><a href="/catalog"> Katalog kart</a> </div>
<div><a th:if="${status.logged}" href="/logout"> Wyloguj się</a></div>
<div><a th:if="${!status.logged}" href="/login"> Zaloguj się</a> </div>
</body>
</html>