<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pokemon-Card-Collection</title>
</head>
<body>
<h1>Witaj trenerze! Co chcesz zrobić?</h1>
<h2>Status logowania: <label th:text="${login_status}"></label> </h2>
<a href="/register"> Zarejestruj się</a> <br>
<a href="/login"> Zaloguj się</a> <br>
<a href="/trainer"> Stwórz trenera</a> <br>
<a href="/pack"> Otwórz paczkę</a> <br>
<a href="/cards"> Twoje karty</a> <br>
<a href="/market"> Sklep</a> <br>
<a href="/coins"> Kup monety</a> <br>
<a href="/statistics"> Profil</a> <br>
<a href="/logout"> Wyloguj się</a>
</body>
</html>