<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log in!</title>
</head>
<body>
<h1>Zaloguj się i złap je wszystkie!</h1>
<form method="post" th:object="${user}">
    <div><label>
        Mail: <input type="email" name="mail" th:field="${user.mail}">
        <span  th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></span>
    </label></div>
    <div><label>
        Password: <input type="password" name="pass" th:field="${user.password}">
        <span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </label></div>
    <div> <input type="submit" value="Zaloguj"></div>
</form>
<div><a href="/login">Spróbuj ponownie</a></div>
<div><a href="/" >Powrót do strony głównej</a></div>
</body>
</html>