<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log in!</title>
</head>
<body>
<h1>Zaloguj się i złap je wszystkie!</h1>
<form method="post" action="login">
    <div><label>
        Mail: <input type="email" name="username">
    </label></div>
    <div><label>
        Password: <input type="password" name="password">
    </label></div>
    <div> <input type="submit" value="Zaloguj"></div>
</form>
<div><a href="/login">Spróbuj ponownie</a></div>
<div><a href="/" >Powrót do strony głównej</a></div>
</body>
</html>