<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New cards</title>
</head>
<body>
<h1>Paczka otwarta!</h1>
Oto Twoje nowe karty:<br><br>
<tr th:each="card: ${cards}">
    <td th:text="${card.name}"></td><br>
</tr>
<br>
Karty zostały przpisane do Twojego konta <br>
<div><a href="/pack">Otwórz kolejną paczkę</a></div>
<div><a href="/gallery">Oglądaj karty</a></div>
<div><a href="/">Powrót do strony głównej</a></div>
</body>
</html>