<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create new trainerDTO</title>
</head>
<body>
<h1>Powiedz nam jakim jesteś trenerem!</h1>
<form method="post" th:object="${trainer}">
    <div><label>Imie: <input type="text" name="name" th:field="*{name}"></label></div>
    <div><label>Mężczyzna <input type="radio" value="male" name="sex" checked th:field="*{sex}"></label>
        <label>Kobieta <input type="radio" value="female" name="sex" th:field="*{sex}"></label></div>
    <div><label for="type">Ulubiony typ:</label>
        <select id="type" name="type" th:field="*{type}">
            <option selected value="normalny">Normalny</option>
            <option value="wodny">Wodny</option>
            <option value="ognisty">Ognisty</option>
            <option value="latajacy">Latający</option>
            <option value="trawiasty">Trawiasty</option>
        </select>
    </div>
    <input type="submit" value="Stwórz trenera">
</form>
<div><a href="/login">Spróbuj ponownie</a></div>
</body>
</html>